@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom color css */

.bg-sitetheme-blue {
  background-color: #000066;
}

.bg-sitetheme-lightblue {
  background-color: #7d7db1;
}

.text-sitetheme-blue {
  color: #000066;
}

.text-sitetheme-lightblue {
  color: #7d7db1;
}

.border-sitetheme-blue {
  border-color: #000066;
}

.border-sitetheme-lightblue {
  border-color: #7d7db1;
}

/* Hover classes */

.hover-bg-sitetheme-blue:hover {
  background-color: #000066;
}

.hover-bg-sitetheme-lightblue:hover {
  background-color: #7d7db1;
}

.hover-text-sitetheme-blue:hover {
  color: #000066;
}

.hover-text-sitetheme-lightblue:hover {
  color: #7d7db1;
}

.hover-border-sitetheme-blue:hover {
  border-color: #000066;
}

.hover-border-sitetheme-lightblue:hover {
  border-color: #7d7db1;
}

/* Icons */
.icons8-checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNTAiIGhlaWdodD0iNTAiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzRhOTBlMjsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGc+PHBhdGggZD0iTTE2OS4zNDYwOSw4NmMwLC00Ni4wMjM0NCAtMzcuMzIyNjYsLTgzLjM0NjA5IC04My4zNDYwOSwtODMuMzQ2MDljLTQ2LjAyMzQ0LDAgLTgzLjM0NjA5LDM3LjMyMjY2IC04My4zNDYwOSw4My4zNDYwOWMwLDQ2LjAyMzQ0IDM3LjMyMjY2LDgzLjM0NjA5IDgzLjM0NjA5LDgzLjM0NjA5YzQ2LjAyMzQ0LDAgODMuMzQ2MDksLTM3LjMyMjY2IDgzLjM0NjA5LC04My4zNDYwOXoiIGZpbGw9IiMwMDAwNjYiPjwvcGF0aD48cGF0aCBkPSJNMTMxLjg4OTA2LDU4LjA4MzU5Yy0xLjk0ODQ0LC01LjA3MjY2IC01Ljk0NjA5LC00LjI2NjQxIC0xMC4yNzk2OSwtMy4zOTI5N2MtMi41ODY3MiwwLjUzNzUgLTE0LjEwOTM3LDMuODk2ODcgLTMyLjI4MzU5LDIzLjExMjVjLTcuNTU4NTksNy45NjE3MiAtMTIuNTMwNDcsMTQuMzEwOTQgLTE1LjgyMjY2LDE5LjE0ODQ0Yy0yLjAxNTYyLC0yLjQ1MjM0IC00LjMsLTUuMTA2MjUgLTYuNzE4NzUsLTcuNDkxNDFjLTcuNDI0MjIsLTcuNDI0MjIgLTE1LjcyMTg3LC0xMi41MzA0NyAtMTYuMDU3ODEsLTEyLjczMjAzYy0zLjQ2MDE2LC0yLjExNjQxIC03Ljk5NTMxLC0xLjA0MTQxIC0xMC4xNDUzMSwyLjQ1MjM0Yy0yLjExNjQxLDMuNDYwMTYgLTEuMDQxNDEsNy45OTUzMSAyLjQxODc1LDEwLjE0NTMxYzAuMDY3MTksMC4wMzM1OSA3LjE4OTA2LDQuNDM0MzggMTMuMzAzMTMsMTAuNTgyMDNjNi4yNDg0NCw2LjI0ODQ0IDExLjkyNTc4LDE0LjcxNDA2IDExLjk5Mjk3LDE0LjgxNDg0YzEuMzc3MzQsMi4wODI4MSAzLjY5NTMxLDMuMjkyMTkgNi4xNDc2NiwzLjI5MjE5YzAuNDAzMTIsMCAwLjgzOTg0LC0wLjAzMzU5IDEuMjc2NTYsLTAuMTAwNzhjMi44ODkwNiwtMC41MDM5MSA1LjE3MzQ0LC0yLjY1MzkxIDUuODc4OTEsLTUuNDc1NzhjMC4wMzM1OSwtMC4wNjcxOSAyLjk1NjI1LC04LjE2MzI4IDE4LjM3NTc4LC0yNC40MjI2NmMxMi40Mjk2OSwtMTMuMTM1MTYgMjAuNzI3MzQsLTE3LjMwMDc4IDIzLjYxNjQxLC0xOC40NDI5N2MwLjAzMzU5LDAgMC4wMzM1OSwwIDAuMTAwNzgsMGMwLDAgMC4xMDA3OCwtMC4wMzM1OSAwLjI2ODc1LC0wLjEzNDM4YzAuNTAzOTEsLTAuMjAxNTYgMC43NzI2NiwtMC4yNjg3NSAwLjc3MjY2LC0wLjI2ODc1Yy0wLjEzNDM3LDAuMDMzNTkgLTAuMjAxNTYsMC4wMzM1OSAtMC4yMDE1NiwwLjAzMzU5di0wLjAzMzU5YzEuMzQzNzUsLTAuNTcxMDkgMy44Mjk2OSwtMS42NDYwOSAzLjg2MzI4LC0xLjY3OTY5YzMuNzI4OTEsLTEuNjEyNSA0Ljk3MTg3LC01LjY0Mzc1IDMuNDkzNzUsLTkuNDA2MjV6IiBmaWxsPSIjZmZmZmZmIj48L3BhdGg+PC9nPjwvZz48L3N2Zz4=")
    50% 50% no-repeat;
  background-size: 100%;
}

/* checkicon */
input:checked + svg {
  display: block;
}

a {
  color: white;
}

a:hover {
  color: #000066;
}
