@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom color css */

.bg-sitetheme-blue {
  background-color: #000066;
}

.bg-sitetheme-lightblue {
  background-color: #7d7db1;
}

.text-sitetheme-blue {
  color: #000066;
}

.text-sitetheme-lightblue {
  color: #7d7db1;
}

.border-sitetheme-blue {
  border-color: #000066;
}

.border-sitetheme-lightblue {
  border-color: #7d7db1;
}

/* Hover classes */

.hover-bg-sitetheme-blue:hover {
  background-color: #000066;
}

.hover-bg-sitetheme-lightblue:hover {
  background-color: #7d7db1;
}

.hover-text-sitetheme-blue:hover {
  color: #000066;
}

.hover-text-sitetheme-lightblue:hover {
  color: #7d7db1;
}

.hover-border-sitetheme-blue:hover {
  border-color: #000066;
}

.hover-border-sitetheme-lightblue:hover {
  border-color: #7d7db1;
}

.icons8-gmail {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIKdmlld0JveD0iMCAwIDQ4IDQ4IgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxwYXRoIGZpbGw9IiM0Y2FmNTAiIGQ9Ik00NSwxNi4ybC01LDIuNzVsLTUsNC43NUwzNSw0MGg3YzEuNjU3LDAsMy0xLjM0MywzLTNWMTYuMnoiPjwvcGF0aD48cGF0aCBmaWxsPSIjMWU4OGU1IiBkPSJNMywxNi4ybDMuNjE0LDEuNzFMMTMsMjMuN1Y0MEg2Yy0xLjY1NywwLTMtMS4zNDMtMy0zVjE2LjJ6Ij48L3BhdGg+PHBvbHlnb24gZmlsbD0iI2U1MzkzNSIgcG9pbnRzPSIzNSwxMS4yIDI0LDE5LjQ1IDEzLDExLjIgMTIsMTcgMTMsMjMuNyAyNCwzMS45NSAzNSwyMy43IDM2LDE3Ij48L3BvbHlnb24+PHBhdGggZmlsbD0iI2M2MjgyOCIgZD0iTTMsMTIuMjk4VjE2LjJsMTAsNy41VjExLjJMOS44NzYsOC44NTlDOS4xMzIsOC4zMDEsOC4yMjgsOCw3LjI5OCw4aDBDNC45MjQsOCwzLDkuOTI0LDMsMTIuMjk4eiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNmYmMwMmQiIGQ9Ik00NSwxMi4yOThWMTYuMmwtMTAsNy41VjExLjJsMy4xMjQtMi4zNDFDMzguODY4LDguMzAxLDM5Ljc3Miw4LDQwLjcwMiw4aDAgQzQzLjA3Niw4LDQ1LDkuOTI0LDQ1LDEyLjI5OHoiPjwvcGF0aD48L3N2Zz4=")
    50% 50% no-repeat;
  background-size: 100%;
}
